@import url('https://fonts.googleapis.com/css?family=PT+Sans:700|Lora:400i|Oswald:300,400|Ubuntu:400,700|Source+Sans+Pro:900|Waiting+for+the+Sunrise|Rock+Salt|Indie+Flower|Shadows+Into+Light');

input {
  border: 1px dotted #999;
  border-radius: 5px;

  height: 60px;
  width: 100%;

  -webkit-appearance: none;
}
input[type="text"]
{
  font-family: 'Oswald', sans-serif;
  font-size: 3em;
  text-align: center;
}
.invalidSubreddit {
  border: 3px solid red;
}
.invalidText {
  color: red;
}
.title {
  font-family: 'PT Sans', sans-serif;
  font-size: calc(15px + 10vh); /* NOTE: Maybe make this dynamic? hmmmmm */
}
.subtitle {
  font-family: 'Lora', serif;
  font-size: 1em;
}
.titleFont {
  font-family: 'PT Sans', sans-serif;
  margin-left: 20px;
}
.loadingText {
  margin-top: 5vh;
  margin-left: 20px;

  font-family: 'PT Sans', sans-serif;
}
/* Forward movement is thanks to https://github.com/IanLunn/Hover/blob/master/css/hover.css */
.submit {
  height: 40px;
  width: 25%;
  margin-top: 15px;

  border: 1px groove black;
  border-radius: 3px;

  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 1.5em;

  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;

  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.submit:hover:enabled {
  color: white;
  background: #303238;
  cursor: pointer;

  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}
.back {
  margin-left: 20px;
  margin-bottom: 20px;
}
#container {
  display: grid;

  height: 100vh;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 2fr;
}
.classyAppearance {
  height: 95%;
  width: 24.5vw;

  font-size:calc(14px + .3vw);

  overflow-wrap: break-word;
  word-wrap: break-word;

  vertical-align: center;
  text-align: center;

  border: 1px groove black;
}
/* Color gradients obtained from uigradients.com */
.color1 {
  background: #74ebd5;
  background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);
  background: linear-gradient(to right, #ACB6E5, #74ebd5);
}
.color2 {
  background: #e1eec3;
  background: -webkit-linear-gradient(to right, #f05053, #e1eec3);
  background: linear-gradient(to right, #f05053, #e1eec3);
}
.color3 {
  background: #F2994A;
  background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);
  background: linear-gradient(to right, #F2C94C, #F2994A);
}
.color4 {
  background: #00b09b;
  background: -webkit-linear-gradient(to right, #96c93d, #00b09b);
  background: linear-gradient(to right, #96c93d, #00b09b);
}
.font1 {
  font-family: 'Waiting for the Sunrise', cursive;
}
.font2 {
  font-family: 'Rock Salt', cursive;
  font-size:calc(9px + .2vw);
}
.font3 {
  font-family: 'Indie Flower', cursive;
}
.font4 {
  font-family: 'Shadows Into Light', cursive;
}
.transition-appear {
  opacity: 0.01;
}
.transition-appear.transition-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.transition-enter {
  opacity: 0.01;
}
.transition-enter.transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.transition-leave {
  opacity: 1;
}
.transition-leave.transition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
#location6 {
  grid-area: location6;
}
#location10 {
  grid-area: location10;
}
#location1 {
  grid-area: location1;
}
#location13 {
  grid-area: location13;
}
#location14 {
  grid-area: location14;
}
#location3 {
  grid-area: location3;
}
#location15 {
  grid-area: location15;
}
#location5 {
  grid-area: location5;
}
#location2 {
  grid-area: location2;
}
#location12 {
  grid-area: location12;
}
#location8 {
  grid-area: location8;
}
#location11 {
  grid-area: location11;
}
#location7 {
  grid-area: location7;
}
#location0 {
  grid-area: location0;
}
#location9 {
  grid-area: location9;
}
#location4 {
  grid-area: location4;
}
.fill {
  grid-area: 2 / 1 / 5 / 5;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  grid-template-areas:
    "location6 location10 location1 location13"
    "location14 location3 location15 location5"
    "location2 location12 location8 location11"
    "location7 location0 location9 location4";
}
.middle {
  grid-area: 2 / 2 / 4 / 4;

  justify-self: start;
  align-self: center;

  align-items: center;
}
.loading {
  grid-area: 2 / 1 / 4 / 5;

  width: 100%;

  justify-self: center;
  align-self: start;
}
.top {
  grid-area: 1 / 1 / 2 / 5;
  width: 100%;

  justify-self: start;
  align-self: start;
}
/* Bounce, from Animate.css from Daniel Eden
   Slightly adjusted to allow for infinite bounce with delay between the bounces. */
@-webkit-keyframes bounce {
  from,
  10%,
  26.5%,
  40%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  20%,
  21.5% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  35% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  45% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }

  50% {
    webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounce {
  from,
  10%,
  26.5%,
  40%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  20%,
  21.5% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  35% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  45% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }

  50% {
    webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;

  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.hide {
  visibility: hidden;
}
.disappear {
  display: none;
}
.resetFeedback {
  animation-duration: 1.5s;
  animation-name: greenlight;
}
@keyframes greenlight {
  10% {border: 5px solid green; }
  90% {border: 1px groove black; }
}
