@import url('https://fonts.googleapis.com/css?family=PT+Sans:700|Lora:400i|Oswald:300,400|Ubuntu:400,700|Source+Sans+Pro:900');

input {
  border: 1px dotted #999;
  border-radius: 5px;

  height: 60px;
  width: 100%;

  -webkit-appearance: none;
}
input[type="text"]
{
  font-family: 'Oswald', sans-serif;
  font-size: 3em;
  text-align: center;
}
.beautiful1 {
  color: red;
}
.invalid-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25em;

  margin-top: 10px;

  color: red;
}
.title {
  font-family: 'PT Sans', sans-serif;
  font-size: 8em;
}
.subtitle {
  font-family: 'Lora', serif;
  font-size: 1em;
}
.submit {
  height: 40px;
  width: 30%;
  margin-top: 15px;

  border: 1px groove black;
  border-radius: 3px;

  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 1.5em;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.submit:hover:enabled {
  color: white;
  background: #303238;
  cursor: pointer;
}
#container {
  display: grid;

  height: 100vh;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 15% 10% 40% 15% 20%;

  grid-template-areas:
    "header header header header"
    "main main main main"
    "main main main main"
    "main main main main"
    "main main main main";
}
.middle {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;

  justify-self: center;
  align-self: center;

  align-items: center;
}
