@import url('https://fonts.googleapis.com/css?family=PT+Sans:700|Lora:400i|Oswald:300,400|Ubuntu:400,700|Source+Sans+Pro:900');

input {
  border: 1px dotted #999;
  border-radius: 5px;

  height: 60px;
  width: 100%;

  -webkit-appearance: none;
}
input[type="text"]
{
  font-family: 'Oswald', sans-serif;
  font-size: 3em;
  text-align: center;
}
.invalid-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25em;

  margin-top: 10px;

  color: red;
}
.title {
  font-family: 'PT Sans', sans-serif;
  font-size: 9.5vw; /* Maybe make this dynamic? hmmmmm */
}
.subtitle {
  font-family: 'Lora', serif;
  font-size: 1em;
}
.titleFont {
  font-family: 'PT Sans', sans-serif;
}
/* Forward movement is thanks to https://github.com/IanLunn/Hover/blob/master/css/hover.css */
.submit {
  height: 40px;
  width: 30%;
  margin-top: 15px;

  border: 1px groove black;
  border-radius: 3px;

  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 1.5em;

  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;

  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.submit:hover:enabled {
  color: white;
  background: #303238;
  cursor: pointer;

  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}
.back {
  margin-left: 10px;
  margin-bottom: 20px;
}
#container {
  display: grid;

  height: 100vh;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

  grid-template-areas:
    "header header header header"
    "main main main main"
    "main main main main"
    "main main main main"
    "main main main main"
    "main main main main";
}
.classyAppearance {
  justify-self: start;
  align-self: start;
}
#location6 {
  grid-area: 3 / 1 / 4 / 2;
}
#location10 {
  grid-area: 3 / 2 / 4 / 3;
}
#location1 {
  grid-area: 3 / 3 / 4 / 4;
}
#location13 {
  grid-area: 3 / 4 / 4 / 5;
}
#location14 {
  grid-area: 4 / 1 / 5 / 2;
}
#location3 {
  grid-area: 4 / 2 / 5 / 3;
}
#location15 {
  grid-area: 4 / 3 / 5 / 4;
}
#location5 {
  grid-area: 4 / 4 / 5 / 5;
}
#location2 {
  grid-area: 5 / 1 / 6 / 2;
}
#location12 {
  grid-area: 5 / 2 / 6 / 3;
}
#location8 {
  grid-area: 5 / 3 / 6 / 4;
}
#location11 {
  grid-area: 5 / 4 / 6 / 5;
}
#location7 {
  grid-area: 6 / 1 / 7 / 2;
}
#location0 {
  grid-area: 6 / 2 / 7 / 3;
}
#location9 {
  grid-area: 6 / 3 / 7 / 4;
}
#location4 {
  grid-area: 6 / 4 / 7 / 5;
}
.middle {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;

  justify-self: start;
  align-self: center;

  align-items: center;
}
.bottom {
  /* Shorthand syntax: row-start, column-start, row-end, column-end */
  grid-area: 4 / 2 / 5 / 3;

  justify-self: start;
  align-self: start;
}
.top {
  grid-area: 1 / 1 / 2 / 5;
  width: 100%;

  justify-self: start;
  align-self: start;
}
/* Loading Screen, thanks to http://tobiasahlin.com/spinkit/ */
.spinner {
  margin-top: 80px;

  height: 40px;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 10px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
