@import url('https://fonts.googleapis.com/css?family=PT+Sans:700|Lora:400i|Oswald:300,400');

input {
  border: 1px dotted #999;
  border-radius: 5px;

  height: 60px;
  width: 100%;

  -webkit-appearance: none;
}
input[type="text"]
{
  font-family: 'Oswald', sans-serif;
  font-size: 3em;
  text-align: center;
}
.beautiful1 {
  color: red;
}
.invalid-text {
  color: red;
}
.title {
  font-family: 'PT Sans', sans-serif;
  font-size: 8em;
}
.subtitle {
  font-family: 'Lora', serif;
  font-size: 1em;
}
#container {
  display: grid;

  height: 100vh;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 15% 10% 40% 15% 20%;

  grid-template-areas:
    "header header header header"
    "main main main main"
    "main main main main"
    "main main main main"
    "main main main main";
}
.middle {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;

  justify-self: center;
  align-self: center;

  align-items: center;
}
