@import url(https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css);

/* todo: Grid layout */
input {
  border: 1px dotted #999;
  border-radius: 5px;

  height: 50px;
  width: 300px;

  -webkit-appearance: none;
}
